body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
header{
    background-color: #c6e7ff;
    width: 100vw;
    height: 10vh;
    padding: 0;
    margin: 0;
    top: 0;
    display: flex;
    font-family: "Libre Baskerville";
    font-size: 14pt;
    font-weight: bold;
    position: fixed;
    box-shadow: 0px 1px 8px black;
    z-index: 1;
}
.logo{
    width: 120px;
    margin: auto;
    margin-right: 0;
    margin-left: 4vw;
}
.he1{
    margin: auto;
    margin-left: 17vw;
    margin-right: 0px;
}
.he2{
    margin: auto;
    margin-left: 17vw;
    margin-right: 0px;
}
.pfpFrame{
    margin: auto;
    right: 100px;
    width: 70px;
    height: 70px;
    border-radius: 70px;
    background-color: #ffddae;
    display: flex;
}
.pfp{
    width: 65px;
    height: 65px;
    margin: auto;
    background-color: white;
    border-radius: 65px;
}
footer{
    background-color: #c6e7ff;
    width: 100%;
    height: 6vh;
    bottom: 0;
    position: fixed;
    box-shadow: 0px 1px 4px black;
}
main{
    padding-top: 10vh;
    padding-bottom: 6vh;
}
.filtro{
    top: 0;
    margin: 0;
    background-color: #f6efef;
    height: 42vh;
    width: 100vw;
    display: flex;
}
.filtro p{
    margin: 0;
}
.filtroti{
    text-align: center;
    margin-left: 80px;
    width: 800px;
    padding-top: 50px;
}
.filtroti1{
    font-size: 24pt;
    background-color: #ffddae;
    border-radius: 50px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-weight: bold;
}
.filtroti2{
    font-size: 17pt;
    font-weight: bold;
}
.esp{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    width: 800px;
    height: 150px;
    margin-left: 80px;
    margin-top: 50px;
    border-radius: 10px;
    padding-top: 5px;
}
.espti{
    color: #ff9500;
    margin-left: 16px;
    font-size: 20pt;
    font-weight: bold;
}
.esp select{
    width: 75%;
    height: 75%;
    border: 0;
    background-color: #f6efef;
    font-size: 35pt;
    margin-left: 10%;
    
}
.esp select:hover{
    cursor: pointer;
}
.direita{
    width: 50vw;
    display: flex;
}
.esquerda{
    width: 50vw;
}
.valor{
    margin-top: 50px;
    width: 600px;
    height: 100px;
    margin-left: 80px;
    padding-top: 15px;
    text-align: center;
    font-weight: bold;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
}
.valorti{
    font-size: 16pt;
    
}
.valorinput{
    display: flex;
    height: 90%;
    width: 100%;
    margin-top: 15px;
    color: #ff9500;
}
.slider{
    margin: auto;
}
.data{
    margin-top: 50px;
    margin-left: 80px;
    width: 600px;
    height: 100px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    display: flex;
    border-radius: 10px;
}
.data img{
    height: 70px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50px;
}
.datainput{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    font-size: 20pt;
    font-weight: bold;
}
.datainput input{
    width: 200px;
    height: 30px;
    font-size: 20pt;
    background-color: #f6efef;
    border-width: 0;
    margin-left: 20px;
}
.datainput input:hover{
    cursor: pointer;
}
.buscar{
    margin-left: 100px;
    margin-top: auto;
    margin-bottom: auto;
    height: 90px;
    width: 140px;
    font-size: 15pt;
    font-weight: bold;
    background-color: #ffddae;
    border-color: #ffddae;
    border-radius: 20px;
}
.buscar:hover{
    opacity: 80%;
    cursor: pointer;
}
.subfiltro{
    width: 100vw;
    min-height: 42vh;
    height: auto;
}
.psicologo{
    height: auto;
    width: 95vw;
    background-color: #c6e7ff;
    margin: auto;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.psipfpframe2{
    background-color: #fbfbfb;
    height: 330px;
    width: 600px;
    border-radius: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.5%;
    margin-right: 60px;
}
.psipfpframe3{
    display: flex;
    height: 85%;
    width: 100%;
    display: flex;
}
.psipfpframe{
    height: 250px;
    width: 250px;
    border-radius: 75%;
    margin: auto;
    background-color: #ff9500;
    display: flex;
}
.psipfpframe img{
    height: 98%;
    margin: auto;
    background-color: white;
    border-radius: 98%;
}
.psiprecoframe{
    display: flex;
}
.psiprecoframe p{
    margin: auto;
    margin-top: 2%;
    font-size: 20pt;
    color: #ff9500;
    font-weight: bold;
}
.info{
    margin-right: 60px;
    font-weight: bold;
}
.psinome{
    font-size: 30pt;
    margin: 15px;
}
.genero, .crp{
    font-size: 20pt;
}
.genero{
    margin-left: 15px;
}
.crp{
    margin-left: 50px;
}
.sobre, .psidesc{
    text-align: center;
}
.sobre{
    font-size: 18pt;
    margin-top: 50px;
    color: #ff9500;
}
.psidesc{
    font-size: 15pt;
}
.psiesp, .psidata{
    height: 300px;
    width: 500px;
    background-color: #FFFFFF;
    margin: auto;
    margin-right: 60px;
    border-radius: 30px;
}
.carta{
    font-size: 20pt;
    font-weight: bold;
    margin: auto;
    margin-top: 10px;
    background-color: #ffddae;
    text-align: center;
    height: 16%;
    width: 80%;
    display: flex;
    border-radius: 20px;
}
.carta p{
    margin: auto;
}
.psidata{
    text-align: center;
}
.agenda{
    margin-top: 25px;
}
.agenda:hover{
    cursor: pointer;
}
.agendar{
    margin-top: 200px;
    height: 40px;
    width: 55%;
    font-weight: bold;
    font-size: 15pt;
    background-color: #ff9500;
    border-radius: 15px;
}
.agendar:hover{
    opacity: 85%;
    cursor: pointer;
}
.gencrp{
    display: flex;
}
@media(max-height: 800px){
    .filtro{
        height: auto;
        padding-bottom: 20px;
    }
}
@media(max-height: 700px){
    header{
        height: 20vh;
    }
}
@media(max-width: 1600px){
    .filtro{
        display: block;
        height: auto;
        
    }
    .filtroti{
        text-align: left;
        margin-left: 10px;
    }
    .filtroti1{
        margin-left: 10px;
        text-align: center;
    }
    .filtroti2{
        width: 500px;
    }
    .esp{
        margin-left: 10px;
        width: 500px;
    }
    .direita{
        display: block;
    }
    .valor{
        margin-left: 10px;
        width: 500px;
    }
    .data{
        margin-left: 10px;
        width: 500px;
        margin-bottom: 10px;
    }
    .buscar{
        margin-left: 10px;
        margin-bottom: 20px;
    }
    .psicologo{
        display: inline-block;
        width: 70vw;
        text-align: center;
        margin-left: 10px;
    }
    .psipfpframe2{
        margin: 20px;
        width: auto;
    }
    .psipfpframe{
        height: 200px;
        width: 200px;
    }
    .info{
        margin: auto;
    }
    .psiesp, .psidata{
        width: auto;
        margin: 10pt;
    }
    .psiesp{
        padding-top: 10px;
    }
    .gencrp{
        display: inline-block;
        text-align: left;
    }
}
@media(max-width: 768px) {
    .he1, .he2 {
        margin-left: 30px;
    }
    header {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        padding: 10px 0;
    }
    
}
@layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
      -webkit-appearance: none;
      margin: 0;
      -moz-appearance: textfield !important;
    }
}
.min-max-slider {position: relative; width: 200px; text-align: center; margin-bottom: 50px;}
.min-max-slider > label {display: none;}
span.value {height: 1.7em; font-weight: bold; display: inline-block;}
span.value.lower::before {content: "R$"; display: inline-block;}
span.value.upper::before {content: "- R$"; display: inline-block; margin-left: 0.4em;}
.min-max-slider > .legend {display: flex; justify-content: space-between;}
.min-max-slider > .legend > * {font-size: small; opacity: 0.25;}
.min-max-slider > input {cursor: pointer; position: absolute;}

/* webkit specific styling */
.min-max-slider > input {
  -webkit-appearance: none;
  outline: none!important;
  background: transparent;
  background-image: linear-gradient(to bottom, transparent 0%, transparent 30%, #ffddae 30%, silver 60%, transparent 60%, transparent 100%);
}
.min-max-slider > input::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 14px; /* Set a specific slider handle width */
  height: 14px; /* Slider handle height */
  background: #ff9500; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border: 1px solid #ff9500;
  border-radius: 100%;
}
.min-max-slider > input::-webkit-slider-runnable-track {cursor: pointer;}
